[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-java-8
name: Java 8 Update 161
description: Java 8 (Update 161) Runtime Engine
advice: 
version: 8.0.1610.12
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-java-8-update-161 (8.0.1610.12-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  3/2/2018 13:58:03

